nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}
.counts{
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    border-color: antiquewhite;
}
