$primary-color:#141c33;
$secondary-color:#01e4d9;
$light-color:white;
$secondary-light-color:grey;
$dark-color:black;


$border-style:1px solid;
$border-radius:8px;

$button-width:100px;

$base-width:300px;
$base-height:30px;

